<div class="loader" *ngIf="loader">
  <div class="l-bcg"></div>
  <span class="dot"></span>
  <div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="wrap">
  <div class="wrap-blur">
    <div class="logout">
      <i class="far fa-user-circle"></i><i class="fas fa-sort-down"></i>
    </div>

    <carousel [loop]="true" [cellsToShow]="1" class="main-carousel">
      <div class="carousel-cell" *ngFor="let movie of popularMovies1">
        <img src="http://image.tmdb.org/t/p/original{{ movie[6] }}" />
        <div class="container carousel-body">
          <h2 class="carousel-title">{{ movie[3] }}</h2>
          <p>{{ movie[1] }}</p>
          <div class="d-flex rating">
            <i class="fas fa-star"></i>
            <p>{{ movie[7] }}</p>
          </div>
        </div>
      </div>
    </carousel>

    <div class="container">
      <div class="row popularMovies2">
        <div class="cards col-3" *ngFor="let movie of popularMovies2">
          <div class="card">
            <img
              class="card-img"
              src="http://image.tmdb.org/t/p/original{{ movie[2] }}"
              alt="Card image"
            />
          </div>
        </div>

        <div *ngIf="fetchedMovies" class="section-container">
          <h2 class="subtitle">Polecane dla Ciebie</h2>
          <div class="line"></div>
          <carousel [loop]="true" [cellsToShow]="4" [height]="400">
            <div class="carousel-cell" *ngFor="let movie of fetchedMovies">
              <!-- <div class="wow"> -->
              <img src="http://image.tmdb.org/t/p/original{{ movie[0][2] }}" />
              <h2 class="carousel-title">{{ movie[0][3] }}</h2>
              <!-- </div> -->
            </div>
          </carousel>
        </div>

        <div class="section-container">
          <h2 class="subtitle">Baza filmów</h2>
          <div class="line"></div>
        </div>

        <div class="container">
          <div class="row">
            <div *ngIf="!fetchedAllMovies">
              <h3>Loading..</h3>
              <div class="loader"></div>
            </div>
            <div
              class="cards col-3"
              *ngFor="let movie of pageOfItems; let i = index"
            >
              <div class="card">
                <img
                  class="card-img"
                  src="http://image.tmdb.org/t/p/w500{{ movie[2] }}"
                  alt="Card image"
                />
                <div class="card-overlay">
                  <div class="card-header">
                    <div class="card-header-text">
                      <h3 class="card-title">{{ movie[3] }}</h3>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                      class="d-flex align-items-center"
                      style="padding: 10px; font-size: 18px"
                    >
                      <i class="fas fa-star" style="margin-right: 4px"></i>
                      <p class="m-0" style="font-size: 17px">
                        {{ movie[7] }}
                      </p>
                    </div>
                    <a
                      href="#{{ i }}"
                      data-toggle="modal"
                      class="btn card-button"
                      (click)="this.currentRate(this.movie[0])"
                      >Oceń</a
                    >
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal" id="{{ i }}">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="header">
                      <div>
                        <h4 class="modal-title">{{ movie[3] }}</h4>
                        <h5>{{ movie[5] }}</h5>
                      </div>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        style="align-self: start"
                      >
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        {{ movie[1] }}
                      </p>
                      <h4 style="font-weight: 500; margin-bottom: 5px">
                        Oceń film:
                      </h4>
                      <ngb-rating
                        class="rating-stars"
                        (click)="this.rateItem(this.movie[0])"
                        [max]="10"
                        [(rate)]="this.currentStars"
                        [(ngModel)]="ratedValue"
                      ></ngb-rating>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <jw-pagination
            [items]="fetchedAllMovies"
            [pageSize]="16"
            (changePage)="onChangePage($event)"
          ></jw-pagination>
          <img
            src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
            alt="tmdb"
          />
        </div>
      </div>
    </div>
  </div>
</div>
